.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    filter: invert(100%);
}

.fa-rounded-circle {
    border-radius: 50%;
    box-shadow: 0 0 2px #888;
    padding-top: .5em;
    width: 2em;
    height: 2em;
    text-align: center;
}

.fa-li {
    top: 0;
}

.fa-ul li {
    height: 6rem;
}

.header-CDAS {
    background-color: rgba(248, 249, 250, .8);
}

/* Parallax */

.parallax {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.parallax p {
    font-size: 24px;
    color: #f5f5f5;
    line-height: 60px;
}

.parallax h2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 60px;
    padding-top: 60px;
    line-height: 100px;
}

.parallax-header {
    background-image: url("../images/office-crop.jpg");
}

.parallax-section-1 {
    background-image: url("../images/bridge.jpg");
}

.parallax-section-2 {
    background-image: url("../images/flag.jpg");
}

.parallax-section-3 {
    background-image: url("../images/putnam.jpg");
}