/* Overload default and Bootstrap styles with theme styles */

body {
    font-family: Nunito, sans-serif;
    background-color: #101434;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: Montserrat, sans-serif;
    font-style: italic;
}

h1,
.h1,
.display-1,
.display-2 {
    font-weight: bolder;
}

h2,
.h2,
.display-3,
.display-4 {
    font-weight: bold;
}

a {
    color: #3b8acb;
}

a:hover,
.navbar-text a:hover {
    color: #faddf8;
}

.jumbotron {
    background-color: #095797;
}

.navbar-text a {
    color: #25797d;
}

/* new classes for theme styles */

.btn-primary-theme {
    background-color: #3b8acb;
    color: #fff;
}

.text-success-theme {
    color: #25797d;
}

.text-secondary-theme {
    color: #7f7cc3;
}

.text-info-theme {
    color: #faddf8;
}

.theme-dark-blue {
    color: #101434;
}

.theme-dark-blue-bg {
    background-color: #101434;
    /* Background, callout boxes */
}

.theme-blue {
    color: #095797;
}

.theme-blue-bg {
    background-color: #095797;
}

.theme-light-blue {
    color: #3b8acb;
    /* Link color */
}

.theme-light-blue-bg {
    background-color: #3b8acb;
}

.theme-sea-green {
    color: #25797d;
    /* Header text color */
}

.theme-sea-green-bg {
    background-color: #25797d;
}

.theme-light-green-bg {
    background-color: #67acaf;
}

.theme-light-green {
    color: #67acaf;
}

.theme-purple-bg {
    background-color: #6c569f;
}

.theme-purple {
    color: #6c569f;
}

.theme-periwinkle-bg {
    background-color: #7f7cc3;
}

.theme-periwinkle {
    color: #7f7cc3;
}

.theme-magenta-bg {
    background-color: #982662;
}

.theme-magenta {
    color: #982662;
}

.theme-violet-bg {
    background-color: #8b1a86;
}

.theme-violet {
    color: #8b1a86;
}

.theme-rose-bg {
    background-color: #faddf8;
}

.theme-rose {
    color: #faddf8;
}

@media not all {
    /* hack to comment-out CSS with comments */
    /*
    Haiti
    rgb(128, 130, 133)
    #101434

    Venice Blue
    rgb(9, 87, 151)
    #095797

    Tradewind
    rgb(103, 172, 175)
    #67acaf

    Boston Blue
    rgb(59, 138, 203)
    #3b8acb

    Lochinvar
    rgb(37, 121, 125)
    #25797d

    Ship Cove
    rgb(127, 124, 195)
    #7f7cc3

    Violet Eggplant
    rgb(139, 26, 134)
    #8b1a86

    Butterfly Bush
    rgb(108, 86, 159)
    #6d569f

    Carousel Pink
    rgb(250, 221, 248)
    #faddf8

    Royal Heath
    rgb(152, 38, 98)
    #982662
    */
    /* Bootstrap Button Classes */
    .btn-primary {
        quotes: none;
    }
    /*royal blue*/
    .btn-secondary {
        quotes: none;
    }
    /*gray*/
    .btn-success {
        quotes: none;
    }
    /*green*/
    .btn-danger {
        quotes: none;
    }
    /*red*/
    .btn-warning {
        quotes: none;
    }
    /*yellow*/
    .btn-info {
        quotes: none;
    }
    /*teal*/
    .btn-light {
        quotes: none;
    }
    /*light gray (almost white)*/
    .btn-dark {
        quotes: none;
    }
    /*dark gray (almost black), with white text*/
    .btn-link {
        quotes: none;
    }
    /*no bg, link-color text, hover underline*/
}

.text-on-image {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    /*text-shadow: -2px 2px 2px rgba(0,0,0,0.75);*/
    /*text-shadow: -1px 1px 1px rgba(0,0,0);*/
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.fa-rounded-circle {
    border-radius: 50%;
    box-shadow: 0 0 2px #888;
    padding-top: .5em;
    width: 2em;
    height: 2em;
    text-align: center;
}

.fa-li {
    top: 0;
}

.fa-ul li {
    height: 6rem;
}

.header-CDAS {
    background-color: rgba(248, 249, 250, .8);
}

/* Parallax */

.parallax {
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.parallax .btn {
    text-shadow: none;
}

.parallax h2 {
    color: rgba(255, 255, 255, .9);
    padding-top: 60px;
}

.parallax-header {
    background-image: url("../images/bridge.jpg");
    min-height: 600px;
}

.parallax-section-1 {
    background-image: url("../images/law.jpg");
}

.parallax-section-2 {
    background-image: url("../images/pano.jpg");
}

.parallax-section-3 {
    background-image: url("../images/putnam.jpg");
}

.parallax-section-4 {
    background-image: url("../images/office-crop.jpg");
}